<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Explore</h3>
      <hr>
    </div>
  </div>

  <mat-card class="AIcard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>AI</mat-card-title>
      <mat-card-subtitle>Artificial Intelligence</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/AI.jpg" alt="Aritificial Itelligence">
    <mat-card-content>
      <p>
        Zensar's ARtificial Intelligence projects and patents
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="BlockChaincard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Block Chain</mat-card-title>
      <mat-card-subtitle>Block Chain</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/BlockChain.jpg" alt="BlockChain">
    <mat-card-content>
      <p>
        Zensar's Block Chain projects and patents
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="MLcard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ML</mat-card-title>
      <mat-card-subtitle>Machine Learning</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/ML.jpg" alt="Machine Learning">
    <mat-card-content>
      <p>
        Zensar's Machine Learning projects and patents
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="IOTcard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>IOT</mat-card-title>
      <mat-card-subtitle>Internet of Things</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/iot.jpg" alt="Internet of Things">
    <mat-card-content>
      <p>
        Zensar's Internet of Things projects and patents
      </p>
    </mat-card-content>
  </mat-card>

</div>