<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="75">
        <h2>Our History</h2>
        <p>Zensar’s business is spread between North America, United Kingdom, parts of Europe and South Africa. Zensar’s teams work out of 29 global locations including offices of acquired entities. Its primary business involves providing digital and technology solutions to global customers. Its key business verticals include high-tech manufacturing, healthcare, retail and consumer services, financial services and emerging services.</p>
        <p>Zensar was the innovation award winner in the <i>"Creating an Impact-IT Skills"</i> category at India Perspectives 2018. Gartner Magic Quadrant named the company Niche Player 2019 for managed mobility services. The company is often quoted by analysts in industry media for its expertise on enterprise IT spending, research consulting and advisory services.</p>
        <p>Zensar has an all-inclusive work culture that is young, energetic and performance driven. By keeping commitment to people and the community as its primary focus, Zensar grooms and retains talent for a valuable long-term association. The culture of Zensar thrives on transparency and openness. It has also featured in two Harvard case studies - The Future of Vision Communities and Leading Innovation and Organizational Change at Zensar.
          Zensar’s business is spread between North America, United Kingdom, parts of Europe and South Africa. Zensar’s teams work out of 29 global locations including offices of acquired entities. Its primary business involves providing digital and technology solutions to global customers. Its key business verticals include high-tech manufacturing, healthcare, retail and consumer services, financial services and emerging services.</p>
      </div>
      <div fxFlex="25">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
            <h2>Facts At a Glance</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt><b>Started</b></dt>
              <dd>3 Feb. 2013</dd>
              <dt><b>Major Stake Holder</b></dt>
              <dd>CISCO</dd>
              <dt><b>Last Year's Turnover</b></dt>
              <dd>$589.5 MN.</dd>
              <dt><b>Employees</b></dt>
              <dd>15,000+</dd>
            </dl>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div fxFlex>
    <mat-card>
      <blockquote>
        <h3>There is a way to do it better. Find it!</h3>
        <footer>-- Sandeep Kishore,
          <cite>CEO, Zensar Technologies</cite>
        </footer>
      </blockquote>
    </mat-card>
  </div>


  <div fxFlex>
    <h2>Corporate Leadership</h2>
    <mat-list *ngIf="leaders" [@expand]>
        <mat-list-item *ngFor="let leader of leaders">
          <img mat-list-avatar src="{{ baseURL + leader.image }}" alt={{leader.name}}>
          <h4 matLine> {{leader.name}} {{leader.abbr}}</h4>
            <p matLine> {{leader.designation}}</p>
            <p matLine>{{leader.description}}
            </p>
        </mat-list-item>
      </mat-list>
      <div [hidden]="leaders || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
  </div>
</div>