<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="100">
    <div>
      <h3 *ngIf="category">{{category.name | uppercase}}</h3>
      <hr>
    </div>
  </div>



<div class="container" rowHeight="200px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">
  <div *ngIf="category" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{category.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ baseURL + category.image}}" alt={{category.name}}>
      <mat-card-content>
        <p>{{category.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/exploredetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/exploredetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="category.members" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Members ({{category.members.length}})</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let members of category.members" [routerLink]="['/memberdetail', members.member._id]">
              <img mat-list-avatar src="{{ baseURL + members.member.image }}">
              <h4 matLine> {{members.member.name}}</h4>
              <span> -- {{members.member.designation}} </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>

<div class="container" rowHeight="200px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <div *ngIf="category.papers" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Papers ({{category.papers.length}})</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let papers of category.papers" [routerLink]="['/paperdetail', papers.paper._id]">
              <img mat-list-avatar src="{{ baseURL + papers.paper.image }}">
              <h4 matLine> {{papers.paper.name}}</h4>
              <span> -- {{papers.paper.description}} </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>

<div class="container" rowHeight="200px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">
  <div *ngIf="category.projects" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Projects ({{category.projects.length}})</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let projects of category.projects" [routerLink]="['/projectdetail', projects.project._id]">
              <img mat-list-avatar src="{{ baseURL + projects.project.image }}">
              <h4 matLine> {{projects.project.name}}</h4>
              <span> -- {{projects.project.designation}} </span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>

</div>