<div class="container"
     fxLayout="row"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
     <div>
      <h3>Featured</h3>
      <hr>
     </div>
</div>

<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="project" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{project.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + project.image}}" alt={{project.name}}>
  <mat-card-content>
    <p>{{project.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="project || projectErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="projectErrMess">
  <h2>Error</h2>
  <h4>{{projectErrMess}}</h4>
</div>

<mat-card *ngIf="member" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{member.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + member.image}}" alt={{member.name}}>
  <mat-card-content>
    <p>{{member.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="member || memberErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="memberErrMess">
  <h2>Error</h2>
  <h4>{{memberErrMess}}</h4>
</div>

<mat-card *ngIf="paper" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{paper.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ baseURL + paper.image}}" alt={{paper.name}}>
  <mat-card-content>
    <p>{{paper.description}}
    </p>
  </mat-card-content>
</mat-card>
<div [hidden]="paper || paperErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="paperErrMess">
  <h2>Error</h2>
  <h4>{{paperErrMess}}</h4>
</div>




</div>